<link rel="stylesheet" href="/css/welcome.css">
<header>
    <nav>
        <div class="logo">Todo</div>

        <div class="links">
            <a href="/users/login">Log in</a> |
            <a href="/users/register">Sign up</a>
        </div>

    </nav>
</header>
<main>
    <div class="text">
        <span>Organize your tasks. Plan your day.</span>
        <a href="/users/login">Get started</a>
    </div>
    <img src="/images/sitting-woman.jpg" alt="">
</main>