<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">Todo</div>
            <div class="links">
                <a href="/users/login">Log in</a> |
                <a href="/users/register">Sign up</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="text">
            <span>Organize your tasks. Plan your day.</span>
            <a href="/users/login">Get started</a>
        </div>
        <img src="/images/sitting-woman.jpg" alt="">
    </main>
</body>

</html>