@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}
@import 'common';
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    .text{
        margin-top: 80px;
        width: 50%;
        height: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        span{
            font-size: 3.7rem;
            font-weight: 600;
        }
        a{
            display: block;
            margin-left: 10px;
            width: 180px;
            height: 60px;
            background-color: #ff4f5a;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            color: white;
            text-decoration: none;
        }
    }
    img{
        width: 50%;
    }
}